<h1>Hello, here are our tasks</h1>

<ol>
  <% @tasks.each do |task| %>
    <li>
    <p><%= link_to task.title, task_path(task) %></p>
    </li>
  <% end %>
</ol>


<%# <p><%= task.details %>
    <%# <p>Completed: <%= task.completed %>
